.hide{display:none;}
div{
    text-align: center;
    background-color: #ccc;
}
span{
  display: block;
}
.blueDay{
  background-color: navy;
}
.goldDay{
  background-color: yellow;
}
.login{display: inline-block;}
#app{
  display: none;
}