/*
/////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
// Author: Dean Sellas
// Website: www.thespacecoder.com
// Twiiter: twitter.com/TheSpaceCoder
// Support: contact@thespacecoder.com
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––

-General Content
-HomeWork
-Navigation

--------------------------------------------------*/

/* GENERAL CONTENT
–––––––––––––––––––––––––––––––––––––––––––––––––– */

::selection{
  background-color: white;
  color: black;
}

.goldDay ::selection{
  background-color: #1d1f1f;
  color: white;
}

.blueDay ::selection{
  background-color: #1d1f1f;
  color: white;
}

#sidebar-wrapper ::selection{
  background-color: rgba(255,255,255,0.2);
  color: white;
}

body{
  font-family: 'Kadwa', serif;
  background-color: #1d1f1f;
  color: white;
}

.hide {
  display: none;
}

.title h1{
  font-size: 3.5em;
  font-family: 'Pacifico', cursive;
}

.title{
  margin-bottom: 20px;
}

.blueDay {
  background-color: #002e60;
}

.goldDay {
  background-color: #daa520;
}

.login {
  display: inline-block;
}

.btn{
  margin: 5px 10px;
}

.subsection{
  margin-top: 40px;
}
/* HOMEWORK
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.form-group{text-align:left;}

.homeworkLabel{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* NAV
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow: hidden;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a.sidebar-nav-link {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a.sidebar-nav-link:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}
.sidebar-nav li a.sidebar-nav-link.active{
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a.sidebar-nav-link:active,
.sidebar-nav li a.sidebar-nav-link:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 1.5em;
  line-height: 60px;
  font-family: 'Pacifico', cursive;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand a:focus{
  text-decoration:none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
#menu-toggle{
  background:none;
  color: white;
  border: none;
}
#menu-toggle:hover{
  color: #ccc;
}
.credit{
  position: absolute;
  font-size: .75rem;
  bottom: 0px;
  min-width: 200px;
}
.credit,
.credit a,
.credit a:focus{
  color: #999;
  text-decoration: none;
}
.credit a:hover{
  color: #fff;
}