<h2>Clubs</h2>
<h4>PAGE UNDER CONSTRUCTION</h4>

<div class="container">
  <div class="col-sm-6 col-sm-offset-3">


    <div class="form-group">
      <label class="formLabel" for="clubName">Club Name:</label>
      <input placeholder="Engineering Club..." type="text" class="form-control" ng-model="vm.clubName" id="clubName">
    </div>

    <div class="form-group">
      <label class="formLabel" for="clubDescription">Club clubDescription:</label>
      <input placeholder="We Do..." type="text" class="form-control" ng-model="vm.clubDescription" id="clubDescription">
    </div>

    <div class="form-group">
      <label class="formLabel" for="clubAttendees">Attendees:</label>
      <input placeholder="Add members emails. seperate with a comma &quot;,&quot;" type="text" class="form-control" id="clubAttendees">
    </div>

    <div class="form-group">
      <label class="formLabel" for="clubMeeting">Meeting:</label>
      <input type="date" class="form-control" id="clubMeeting">
    </div>

    <div class="forum-group">
      <button class="btn btn-default" id="addClub" ng-click="vm.logAllThings()">Add Club</button>
    </div>
    
  </div>
</div>

<script>
 function setInputDate() {
    var _dat = document.querySelector("#clubMeeting");
    var hoy = new Date(),
    d = hoy.getDate(),
    m = hoy.getMonth() + 1,
    y = hoy.getFullYear(),
    data;

    if (d < 10) {
      d = "0" + d;
    }
    if (m < 10) {
      m = "0" + m;
    }

    data = y + "-" + m + "-" + d;
    console.log('Today is: ' + data);
    _dat.value = data;
  }

  setInputDate();
</script>